# AWS Configuration
AWS_REGION=us-east-1

# S3 Configuration
SOURCE_BUCKET=SOURCE_BUCKET
OUTPUT_BUCKET=OUTPUT_BUCKET
OUTPUT_PREFIX=call-summaries

# Bedrock Configuration
# Uncomment and set if you want to use a specific model
BEDROCK_MODEL_ID=aanthropic.claude-3-7-sonnet-20250219-v1:0

